body{
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAA1BMVEX/s963YQufAAAASElEQVR4nO3BgQAAAADDoPlTX+AIVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADwDcaiAAFXD1ujAAAAAElFTkSuQmCC");
}

.box {
  /*최대 높이 길이 설정시 최대 수치만큼만 커진다 */
  /*max-width: 200px;*/
  /*max-height: 200px;*/
  width: 100px;
  height: 100px;
  /* margin 개별 속성 */
  margin-right: 1200px;
  margin-top: 50px;
  max-height: 100px;
  background-color: #0b5ed7;
}

/*div padinng 적용*/
.box2 {
  width: 200px;
  height: 100px;
  padding-right: 300px;
  background-color: #0f5132;
}

.inline-group {
  background-color: #6ea8fe;
  /*이미지 url사용 */
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThQMQV6SuZnEVX6ofC_wsf9jP_8HqJwG7O4A&usqp=CAU");
  /*배경 반복 없음*/
  background-repeat: no-repeat;
  background-position: right;
  /*비율을 유지하며 더 짧은 쪽 너비에 맞춤*/
  background-size: contain;
  /*비율을 유지하며 더 넓은 쪽 너비에 맞춤*/
  /*background-size: cover;*/
}

.inline-group > span {
  /*기본값은 content-box이며 테두리값까지 포함한 만큼 조절이가능*/
  box-sizing: border-box;
  background-color: #5c636a;
  max-width: 300px;
  width: 300px;
  display: block;
  /*block의 넘치는 content를 감춤*/
  overflow: hidden;
}

/*인라인 span태그 padding 적용*/
.inline {
  background-color: #6f42c1;
  /*margin-right: 100px; 인라인은 마진 적용 불가 */
  padding-right: 100px; /*padding 요소의 내부 여백 공간*/
  padding-bottom: 100px;
  /*요소의 테두리 선 종류*/
  border-style: solid;
  /*요소의 테두리 선 굵기*/
  border-width: 30px;
  /*요소의 테두리 선 색상*/
  border-color: #0dcaf0;
  /* 한번에 나열 가능 */
  border: 30px solid #0a58ca;
  /*요소의 모소리를 깎음*/
  border-radius: 10px;
  text-align: center;
  /*부모 div 기준 센터 정렬*/
  margin: 0 auto;
}

.inline2 {
  /*width: 100px;*/
  /*height: 200px;*/
  background-color: #0a58ca;
  border: 20px solid #0f5132;
}
